html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.grid {
    position: relative;
    padding: 7px;
    border-radius: 7px;
    background-color: black;
}

.grid-4-4 {
    width: 400px;
    height: 400px;
}

.grid-row-0 {
    top: 12px
}

.grid-row-1 {
    top: 112px
}

.grid-row-2 {
    top: 212px
}

.grid-row-3 {
    top: 312px
}

.grid-col-0 {
    left: 12px
}

.grid-col-1 {
    left: 112px
}

.grid-col-2 {
    left: 212px
}

.grid-col-3 {
    left: 312px
}

.cell,
.tile {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 3px;
}

.cell {
    background-color: darkgray;
}

.tile {
    background-color: gray;
    /*transition: left 0.5s, top 0.5s;*/
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    font-weight: bold;
}

.tile-val-128,
.tile-val-256,
.tile-val-512 {
    font-size: 34px;
}


.tile-val-1024,
.tile-val-2048,
.tile-val-4096,
.tile-val-8192 {
    font-size: 30px;
}

.tile-val-16384,
.tile-val-32768,
.tile-val-65536 {
    font-size: 24px;
}
